/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

.f-column {
  flex-direction: column;
}

.full-height {
  height: 100vh;
}

.justify-center {
  justify-content: center;
}

