<app-divider>Modules Modal Component</app-divider>
<div>
  <button class="ui button red" (click)="show = !show">open modal</button>
</div>
<app-modal *ngIf="show" (close)="show = !show">
  <div class="header">
    Select a Photo
  </div>
  <div class="ui medium image" usrImg>
    <img src="https://semantic-ui.com/images/avatar2/large/rachel.png">
  </div>
  <div modalContent>
    <p>We've found the following <a href="https://www.gravatar.com" target="_blank">gravatar</a> image associated
      with your e-mail address.</p>
    <p>Is it okay to use this photo?</p>
  </div>
  <div class="ui black deny button" (click)="show = false" modalFooter>
    Nope
  </div>
  <div class="ui positive right labeled icon button" (click)="show = false" modalFooter>
    Yep, that's me
    <i class="checkmark icon"></i>
  </div>
</app-modal>
