<!--<div *ngFor="let page of pages">{{page.title | json}}</div>-->
<div class="d-flex jc-center table-wrapper">
  <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
    <thead>
    <tr>
      <th>title</th>
      <th>word count</th>
      <th>snippet</th>
    </tr>
    </thead>
      <tr *ngFor="let page of pages">
        <td><a target="_blank" href="https://en.wikipedia.org?curid={{page.pageid}}">{{page.title}}</a></td>
        <td>{{page.wordcount}}</td>
        <td [innerHTML]="page.snippet"></td>
      </tr>
  </table>
</div>
