//table {
//  width: 100%;
//}
//
//table,
//th, td {
//  border: 2px solid #7b7b7b;
//  border-collapse: collapse;
//  border-radius: 15px;
//}
//
//th, td {
//  padding: 15px;
//}
//
//th:first-child, td:first-child {
//  width: 10%
//}

//th:nth-child(2), td:nth-child(2) {
//  width: 5%
//}
.table-wrapper {
  padding: 35px
}

tr:hover:not(:first-child) {
  background: #00d1b23b;
}

tr:nth-child(even) {
  background: lightgray;
}




