<div class="container">
  <h1>Payment Form</h1>
  <div class="row">
    <div class="form-group col">
      <label for="name">Receiver Name</label>
      <input type="text" id="name" name="name" class="form-control" [(ngModel)]="name">
    </div>
    <div class="col">
      <h3>Receiver Name</h3>
      <span>{{name | titlecase}}</span>
    </div>
  </div>
  <div class="row">
    <div class="form-group col">
      <label for="payDate">Payment Date</label>
      <input type="date" name="payDate" id="payDate" class="form-control datepicker" [(ngModel)]="date">
    </div>
    <div class="col">
      <h3>Date</h3>
      <span>{{date | date:'dd. MMMM yyy.'}}</span>
    </div>
  </div>
  <div class="row">
    <div class="form-group col">
      <label for="amount">Amount</label>
      <input type="number" id="amount" name="amount" class="form-control" [(ngModel)]="amount">
    </div>
    <div class="form-group col">
      <h3>Amount</h3>
      <span>{{amount  | currency: 'USD' : 'symbol' : '1.3'}}</span>
    </div>
  </div>
  <div class="row">
    <div class="form-group col">
      <label for="amount">Distance</label>
      <input type="number" id="distance" name="distance" class="form-control" [(ngModel)]="miles" >
    </div>
    <div class="form-group col">
      <h3>Distance in km</h3>
      <span>{{miles | convert: 'km' | number:'1.2-2'}}</span>
    </div>
  </div>
</div>


{{car1 | json}}
<br>
{{cars | json}}
<br>
