<div class="ui container">
  <div class="ui pointing menu">
    <a routerLink="/collections" class="item" routerLinkActive="active">Collections</a>
    <a routerLink="/elements" class="item" routerLinkActive="active">Elements</a>
    <a routerLink="/mods" class="item" routerLinkActive="active">Mods</a>
    <a routerLink="/views" class="item" routerLinkActive="active">Views</a>
    <a routerLink="/modules" class="item" routerLinkActive="active">Modules</a>
    <div class="right menu">
    </div>
  </div>
  <div class="ui segment">
    <router-outlet></router-outlet>
  </div>
</div>

