button {
  position: relative;
  display: inline-block;
  background: green;
  color: white;
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  border: 0;
  margin: 15px;
}

button .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgba(0, 128, 0, 0.87);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 120%;
  left: 50%;
  margin-left: -60px;
  padding: 5px;
}

button .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: green transparent transparent transparent;
}

button:hover .tooltiptext {
  visibility: visible;
}

.container {
  max-width: 1200px;
  margin: auto;
}
.your-password p {
  display: inline-block;
  padding: 5px;
  border: 2px solid green;
  min-width: 150px;
  max-width: 100%;
}
