<app-divider>Table Component</app-divider>
<app-table [data]="data" [headers]="headers" classNames="striped celled"></app-table>
<app-divider>Tabs Component</app-divider>
<app-tabs>
  <a class="item" routerLink="./" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Bio</a>
  <a class="item" routerLink="pics" routerLinkActive="active">Pics</a>
  <a class="item" routerLink="companies" routerLinkActive="active">Companies </a>
  <a class="item" routerLink="links" routerLinkActive="active">Links </a>
</app-tabs>

